#contact_modal {
    display: none;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #7e7a7a69;
    /* position: fixed;
    top: 0; */
}



.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    display: none;
    padding: 55px;
    z-index: 15;

}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 3rem;
    font-weight: normal;
    /* text-align: center; */
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.text>h1 {
    margin: 0;
    text-align: left;
    color: #D3573C;
    font-family: "DM Sans";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text>p {
    font-size: 1.5rem;
}

.text>p:nth-child(3) {
    color: #525252;
    text-align: start;
    padding: 16px 0;
}

.text>p:nth-child(2),
h2 {
    text-align: start;
    /* margin-top: 19px; */
    margin: 0;
}

.articleSection {
    /* background-color: #1dc91d; */
    margin: 0 100px;
    margin-top: 101px;
    box-sizing: border-box;
}

.articleSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;

}


.article {
    width: 350px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* Carte prend 100% de la largeur de sa colonne */
    /* max-width: 350px; */
    /* max-height: 300px; */
    /* Limite la taille maximale de chaque carte */

    /* background-color: #f9f9f9; */
    /* Couleur d'arrière-plan de la carte */
    border-radius: 5px;
    /* Coins arrondis */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* Ombre pour un effet de carte */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    /* Centrer le contenu de la carte */
}

.articleImg,
.articleVideo {
    border-radius: 5px;
    width: 100%;
    height: 300px;
    object-fit: cover;

}


.articleTitle {
    color: #901C1C;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.articleInfos {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0px;
}

.likes {
    color: #901C1C;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: relative;

}

.likes>i:nth-child(2),
i:nth-child(3) {
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.likes>i:nth-child(3) {
    display: none;
}

.likes>span {
    color: #901C1C;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-right: 25px;
}

main {
    position: relative;
    overflow: hidden;
}

.fees {
    position: fixed;
    bottom: 0;
    right: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    background: #DB8876;
}

.fees>p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    font-family: "DM Sans";
    padding: 0 15px;
}

.carouselModal {
    display: none;
    /* Initialement masqué */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.carouselContent {
    position: relative;
    margin: auto;
    /* margin-top: 50%; */
    /* transform: translateY(-50%); */
    /* width: 80%; */
    /* max-width: 900px; */
    /* max-height: 800px; */
    width: 900px;
    height: 100vh;
    /* background-color: #fff; */
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 5rem;
    cursor: pointer;
    color: #901C1C;
}

.carouselMediaContainer img {
    max-width: 100%;
    max-height: 100%;
}

.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #901C1C;
    font-size: 3rem;
    cursor: pointer;
    padding: 10px;
    border: none;
}

.prevBtn {
    left: 10px;
}

.nextBtn {
    right: -10px;
    /* left: 10px; */
    /* top: 0px; */
    /* border: 1px solid red; */
}

.carouselImage,
.carouselVideo {
    border-radius: 0px;
    /* object-fit: cover; */

    width: 800px;
    height: 500px;
    /* border: 10px solid; */


}

.carouselMediaContainer {
    /* border: 5px solid rgb(12, 192, 117); */
    width: 800px;
}

.carouselBg {
    background-color: #fafafa;
    /* border: 1px solid red; */
    height: 100%;
}

.close {
    width: 76px;
    height: 76px;
}

.photographercontactNameContainer {
    /* display: flex;
    flex-direction: column;
    text-align: start; */
    z-index: 9;
}

.photographercontactName {
    margin: 0;
    text-align: left;
    /* color: #D3573C; */
    font-family: "DM Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;

    padding: 0 0 52px;

}